/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 25, 25);
    font-family:Arial, Helvetica, sans-serif
}

.box {
    padding: 10px 10px;
    background-color: rgb(45, 45, 45);
    border-radius: 25px;
}

.h1 {
    color: white;
}

.box h5 {
    color: white;
    font-size: 18px;
    font-weight: bold
}

img {
    border-radius: 25px;
}